<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-2.5.xsd"
    default-lazy-init="true">

    <context:annotation-config />
    <context:component-scan base-package="com.xyzq" />

    <!-- 动态配置对Spring支持 -->
    <bean name="bartPlaceholderConfigurer" class="com.xyzq.simpson.bart.client.spring.BartPlaceholderConfigurer">
        <property name="locations" value="classpath*:config/app.properties"></property>
    </bean>
    <!-- Maggie对Spring Bean支持 -->
    <bean id="maggieSpringSupport" class="com.xyzq.simpson.maggie.access.spring.MaggieSpringSupport" lazy-init="false">
    </bean>
    <!-- Maggie控制台支持 -->
    <bean id="maggieConsoleService" class="com.xyzq.simpson.maggie.component.service.ConsoleService" lazy-init="false">
    </bean>
</beans>
